<link rel="stylesheet" href="/css/header.css">
<header>
    <div id="logo">

    </div>
    <div id="nav-bar">
    <ul>
        <li>
            <a href="">
            <button type="button">Home</button>
            </a>       
        </li>
        <li>
            <a href="">
            <button type="button">Quiz</button>
            </a>
            
        </li>
        <li>
            <a href="">
            <button type="button">Survey</button>
            </a>            
        </li>
        <li>
            <a href="">
            <button type="button">Survey</button>
            </a>  
        </li>
    </ul>
</div>
    <!-- <p>This file Header</p> -->
</header>
<hr>
