<link rel="stylesheet" href="/css/header.css">
<header>
    <div id="logo">

    </div>
    <div id="nav-bar">
    <ul>

        <% if(locals.user){ %>

            <li>
                <a href="/user/profile"> <%= user.firstName %></a>
            </li>
               
            <li>
                <a href="/">
               Home
                </a>       
            </li>
            <li>
                <a href="/">
                  Quiz
                </a>
                
            </li>
            <li>
                <a href="/">
                   Survey
                </a>            
            </li>
            <li>
                <a href="/user/Sign-out">
                    Sign-Out
                </a>  
            </li>
              
        <% }else{ %>
        
            <li>
                <a href="/">
                <button type="button">Home</button>
                </a>       
            </li>
            <li>
                <a href="/user/signup">
                 Sign Up
                </a>
                
            </li>

            <li>
                <a href="/user/login">
                    Login
                </a>
                
            </li>

               
        <% } %>
    </ul>
</div>
    <!-- <p>This file Header</p> -->
</header>
<hr>
